ext.jb-chat.com {
  encode gzip

  reverse_proxy /api/* api:3000
  reverse_proxy /uploads/* api:3000
  reverse_proxy /audio/* api:3000
  reverse_proxy /images/* api:3000
  reverse_proxy /renders/* api:3000

  reverse_proxy frontend:80
}
